<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="mt-6 mb-5">Video Games</h1>
            <mat-spinner class="center" *ngIf="loading"></mat-spinner>
            <div class="row">
                <div class="col-xs-12 col-lg-6 mb-4" *ngFor="let videoGame of videoGameList">
                    <mat-card>
                        <mat-card-title>{{ videoGame.title }}</mat-card-title>
                        <img mat-card-image [src]="videoGame.imageUrl" [alt]="videoGame.title">
                        <mat-card-subtitle>{{ videoGame.description }}</mat-card-subtitle>
                        <mat-card-actions>
                            <button class="small">See Reviews</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
