<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1>About</h1>
            <div class="row" style="margin-top: 30px;">
                <div class="col-xs-12 col-md-4">
                    <img src="./assets/profile-sq-sm.jpg" alt="Daniel Warke" class="image" />
                </div>
                <div class="col-xs-12 col-md-8">
                    <p>I'm Daniel Warke and I'm a full stack web developer working in the Dallas, Texas area.</p>
                    <p>I have been working in the IT industry for the last 6 years and for the last
                        3 years I've been working as a software engineer in the logistics and transportation industry.</p>
                    <p>This application is a personal project to show what I've learned about developing with the MEAN stack.
                        Special thanks to <a href="https://www.udemy.com/user/maximilian-schwarzmuller/" target="_blank">Maximilian Schwarzmüller</a> for teaching me
                        everything I needed to know to develop this.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">
                    <h4>Source Code for this project:</h4>
                    <p>Front end: <a href="https://github.com/danielwarke/video-game-reviews-angular" target="_blank">https://github.com/danielwarke/video-game-reviews-angular</a>
                    <br />Back end: <a href="https://github.com/danielwarke/video-game-reviews-back-end" target="_blank">https://github.com/danielwarke/video-game-reviews-back-end</a></p>
                    <h4>Developer:</h4>
                    <p>LinkedIn <a href="https://www.linkedin.com/in/daniel-warke/" target="_blank">https://www.linkedin.com/in/daniel-warke/</a>
                        <br />Github: <a href="https://github.com/danielwarke" target="_blank">https://github.com/danielwarke</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
