<mat-toolbar color="primary" class="mb-5">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="Menu" (click)="onMenuClicked()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Video Game Reviews</span>
        <span class="spacer"></span>
        <button *ngIf="!isLoggedIn" mat-button aria-label="Login" [routerLink]="['/auth']">
            <mat-icon>login</mat-icon> Login
        </button>
        <button *ngIf="isLoggedIn" mat-button aria-label="User" [routerLink]="['/user']">
            <mat-icon>account_circle</mat-icon> {{ username }}
        </button>
        <button *ngIf="isLoggedIn" mat-button aria-label="Logout" (click)="logoutButtonHandler()">
            <mat-icon>logout</mat-icon> Logout
        </button>
    </mat-toolbar-row>
</mat-toolbar>
