/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f1f1f1;
}

.spacer {
    flex: 1 1 auto;
}

.center {
    margin: 0 auto;
}

h1 {
    font-size: 3.75em !important;
    line-height: 1.2 !important;
}

h2 {

}

h4 {
    font-size: 1.25rem !important;
    line-height: 1.6 !important;
}

p {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

.mat-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.mat-drawer-container {
    background-color: transparent;
    height: 100%;
}

.mat-drawer-content {
    padding-bottom: 30px;
}

.mat-form-field {
    width: 100% !important;
}

.alert-error {
    color: #F44336;
}

.alert-warning {
    color: #FF9800;
}

.alert-success {
    color: #4CAF50;
}
